

<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
  <h1>A Warm Welcome!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
  <p><a class="btn btn-primary btn-large">Call to action!</a>
  </p>
</header>
<hr>

<!-- Title -->
<div class="row">
  <div class="col-lg-12">
    <h3>Latest Products</h3>
    <p><%= link_to 'New product', new_product_path, class: "btn btn-default" %></p>
  </div>
</div>

<!-- /.row -->

<!-- Page Features -->

<div class="row text-center">

  <% @product.each do |product| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag product.image.url(:medium) %>
          <div class="caption">
            <h3><%= product.title %></h3>
            <p><%= product.description %></p>
            <p><%= product.price %> € || <%= product.location %></p>
            <p>
              <%= link_to 'Show', product_path(product), class: "btn btn-primary" %>

              <% if @current_user && @current_user.id == product.user_id %>
                <%= link_to 'Edit', edit_product_path(product),  class: "btn btn-primary" %>
                <%= link_to 'Detroy', product_path(product),
                            method: :delete,
                              data: { confirm: 'Are you sure ?' },
                      class: "btn btn-primary" %>
              <% end %>

            </p>
          </div>
        </div>
      </div>
  <% end %>

</div>

